* {
    margin: 0;
    padding: 0;
}

.simulator {
    box-sizing: border-box;
}

/* This CSS use in Gate Catalog applied on the div and img part */
.logo-size {
    width: 3rem;
    height: 3rem;
    margin-top: 13px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    margin-bottom: auto;
}

.logo-size img {
    width: 100%;
    height: auto;
}

/* ******************CSS FOR CIRCUIT - SIMULATOR AREA ********************** */

.circuitBox {
    width: 16.666%;
    height: 16.666%;
    width: 3.6rem;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.myTr {
    height: 3.5rem;
    margin-bottom: 0%;
    margin-top: 0%;
}

/* .table-container {
    border: 1px solid #ddd;
    overflow-y: auto;
} */

/* Wire CSS */
.wire::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -7%;
    bottom: 0;
    width: 1px;
    height: 4.1rem;
    background-color: #d04c27;
    opacity: 50%;
    rotate: 90deg;
}


.gateWire {
    width: 4px;
    height: 70%;
    background-color: black;
    position: absolute;
    left: 37%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
    margin-top: 1.8rem;
}

.gateWireE {
    width: 4px;
    height: 5.9rem;
    background-color: black;
    position: absolute;
    left: 37%;
    top: 0;
    z-index: 1;
    transform: translateX(-50%);
    margin-top: 1.8rem;
}

/* Media Query for larger screen */
/* Custom CSS for responsiveness */
.gateMatrixContent {
    font-size: 1.2em;
    /* Adjust the initial font size */
    font-weight: 500;
    overflow-x: auto;
}

@media (max-width: 576px) {

    /* Adjust font size for smaller screens */
    .gateMatrixContent {
        font-size: 1em;
    }
}

/* Adjustments for smaller screens */
@media (max-width: 767.98px) {
    .first {
        flex-direction: column;
    }

    .simulator,
    .code {
        order: 2;
    }

    .circuit-controller {
        order: 3;
    }
}

/* Adjustments for medium screens */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Add your custom styles for medium screens */
}

/* Adjustments for larger screens */
@media (min-width: 992px) {
    /* Add your custom styles for larger screens */
}

/* CSS for the upper and lower div */
.second {
    display: flex;
    /* Use flexbox */
    flex-direction: column;
    /* Arrange children vertically */
    height: calc(100vh - 56vh);
    /* Subtract the height of the navbar and footer */
}

.container2 {
    flex: 1;
    /* Take up remaining vertical space */
    display: flex;
    /* Use flexbox */
    justify-content: space-between;
    /* Distribute space between children */
}

.bargraph {
    width: 69%;
    /* Take 69% of the available space */
}

.blochSphere {
    width: 29%;
    /* Take 29% of the available space */
}
  /* footer Hover Animation  */
footer {
    background: linear-gradient(to right, #007bff, #343a40);
    color: white;
    transition: background 0.5s ease;
}

footer:hover {
    background: linear-gradient(to right, #343a40, #007bff);
}


 /* Nav  Hover Animation  */
 nav {
    background: linear-gradient(to right, #007bff, #343a40);
    color: white;
    transition: background 0.5s ease;
}

nav:hover {
    background: linear-gradient(to right, #343a40, #007bff);
}
 /* Nav sticky */
 nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar-brand {
   
    color: aliceblue;
    text-decoration: none;
    white-space: nowrap;
}


.navbar-nav.nav-link {
  color: aliceblue;
  margin-right: 10px;
}
a:hover {
    --bs-link-color: var(--bs-link-hover);
  }