{% extends 'base.html' %} {% block body %}
<div class="container my-5 shadow" id="about" style="border-radius:5px ;">
  <h1 class="mb-4">
    <u>About: Technologies Used:</u>
  </h1>
  <p>This is a HPC-Simulator app created with the following technologies:</p>
  {% comment %} <ul class="list-group list-group-flush "> {% endcomment %}
    <ul class="list-group list-unstyled " style="padding-bottom:1vh ;">
      <li class="list-group-item">
        <b>FrontEnd -</b> Html5, CSS, BootStrap
      </li>
      <li class="list-group-item">
        <b>Eventhandle - </b> Vanilla JS
      </li>
      <li class="list-group-item">
        <b>Framework - </b> Django
      </li>
      <li class="list-group-item">
        <b>Backend - </b> Python
      </li>
      <li class="list-group-item">
        <b>Architecture - </b> MVT
      </li>
    </ul>
</div>
{% endblock body %}